*~
.DS_Store
scripts/__pycache__
scripts/.ipynb_checkpoints
test/__pycache__
resources/zebrafish.1.bt2
resources/zebrafish.2.bt2
resources/zebrafish.2bit
resources/zebrafish.3.bt2
resources/zebrafish.4.bt2
resources/zebrafish.rev.1.bt2
resources/zebrafish.rev.2.bt2
